@model ModuloAdministrador.Models.Users

@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";
}

<h1>Eliminar Usuario</h1>

<h4>¿Estás seguro de que quieres eliminar este usuario?</h4>
<hr />

<div>
    <h5>@Model.UserName (@Model.TypeUser)</h5>
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="IduserPK" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="@Url.Action("Index", "UserAccount")" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
