@model ModuloAdministrador.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";
}

<h1>Borrar</h1>

<h3>¿Estas seguro que deseas borrar este usuario?</h3>
<div>
    <hr />
    <table>
        <dt class = "col-sm-10">
           <h3><strong>Usuario </strong></h3>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <hr />
        <dt class = "col-sm-10">
            <h3><strong>Tipo de usuario </strong></h3>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario)
        </dd>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuarioPk" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
