@model ModuloAdministrador.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";
}

<h1>Datos Usuario</h1>

<div>
    <hr />
    <table>
        <dt class = "col-sm-10">
           <h3><strong>Usuario </strong></h3>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            <h3><strong>Contraseña </strong></h3>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContraseniaUsuario)
        </dd>
        <hr />
        <dt class = "col-sm-10">
            <h3><strong>Tipo de usuario </strong></h3>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario)
        </dd>
    </table>

</div>
<div>
    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.IdUsuarioPk">Editar</a> |
    <a type="button" class="btn btn-primary"  asp-action="Index">Volver</a>
</div>
