
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrador</title>

    <!-- Custom fonts for this template-->
    <link href="~/custom/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="~/custom/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- barra lateral -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Datos Principales -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">Visual Administrador</div>
            </a>

            <!-- linea divisora -->
            <hr class="sidebar-divider my-0">

            <!-- item navegador activo "administrador" CAMBIAR NOMBRE "ADMINISTRADOR POR TIPO DE USUARIO" -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span>Atributo: Administrador</span>
                </a>
            </li>

            <!-- linea divisora -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                
            </div>

            <!-- Item navegador - Menu lateral -->
            <!-- Inicio -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="home" asp-action="AdministradorInicio">
                    <span>Inicio</span>
                </a>
            </li>

            <!-- Usuarios-->

            <li class="nav-item">
                <a class="nav-link" asp-controller="UserAccount" asp-action="Index">
                    <span>Usuarios</span>
                </a>
            </li>

            <!-- Productos-->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Product" asp-action="Index">
                    <span>Productos</span>
                </a>
            </li>



            <!-- Tienda -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTienda"
                   aria-expanded="true" aria-controls="collapseTienda">
                    <i class=""></i> <!-- Agregar icono-->
                    <span>Tienda</span>
                </a>

                <div id="collapseTienda" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" asp-controller="~/ModuloTiendaOnline/Home">Ir a Tienda Online</a>
                        <a class="collapse-item" asp-controller="home" asp-action="Inventario">Ir a Inventario</a>
                        <a class="collapse-item" asp-controller="home" asp-action="Inventario">Reportes de Ventas</a>
                        <a class="collapse-item" asp-controller="home" asp-action="Inventario">Reportes de Inventario</a>
                    </div>
                </div>
            </li>

            

            <!-- Pedidos-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePedidos"
                   aria-expanded="true" aria-controls="collapsePedidos">
                    <i class=""></i><!--Agregar icono-->
                    <span>Pedidos</span>
                </a>
                <div id="collapsePedidos" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Nuevo</a>
                        <a class="collapse-item" href="#">Editar</a>
                        <a class="collapse-item" href="#">Buscar</a>
                    </div>
                </div>
            </li>





            <hr class="sidebar-divider">

            <!-- Configuraciones-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConfiguraciones"
                   aria-expanded="true" aria-controls="collapseConfiguraciones">
                    <i class=""></i><!--Agregar icono-->
                    <span>Configuraciones</span>
                </a>
                <div id="collapseConfiguraciones" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Datos de la empresa</a>
                        <a class="collapse-item" href="#">Mi cuenta</a>
                        <a class="collapse-item" asp-controller="home" asp-action="RecuperarContrasena">Recuperar contraseña</a>
                    </div>
                </div>
            </li>

            <!-- Cerrar sesión -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="home" asp-action="AdministradorInicio">
                    <span>Cerrar sesión </span>
                </a>
            </li>

            <hr class="sidebar-divider">

        </ul>

        <!-- Contendio barra superior -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Notificaciones-->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Contador de notificaciones -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Notificaciones -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500"> 19 de Abril, 2022</div>
                                        <span class="font-weight-bold">Nuevo reportes de ventas esta listo para descargar</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">19 de Abril, 2022</div>
                                        Has recibido un pago por $150.567 pesos
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">17 de Abril, 2022</div>
                                        Alerta de pedido pendiente con mas de 12hrs, Encargado de pedido "Usuario1"
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar todas las alertas</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>

                            <!-- Seccion correos -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                               
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Hola, Esto es un correo de prueba
                                        </div>
                                        <div class="small text-gray-500">Recibido hace 2 dias</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Leer mas Correos</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - Informacion de usuario -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Nombre Usuario</span>
                                <i class="bi bi-person-fill"></i>
                            </a>
                            <!-- Dropdown - Informacion de usuario -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuraciones
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <!--container-fluid -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!--container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/custom/vendor/jquery/jquery.min.js"></script>
    <script src="~/custom/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    
</body>

</html>