@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";
}


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="card mb-4">
            <div class="card-header">
                Buscar Producto
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="filterByAmountHigh" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreProducto" placeholder="Nombre Producto">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="filterByAmountLow" class="form-label">Precio desde</label>
                        <input type="number" class="form-control" id="precioDesde" placeholder="Precio desde">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="filterBySales" class="form-label">Precio Hasta</label>
                        <input type="number" class="form-control" id="precioHasta" placeholder="Precio Hasta">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="filterByDate" class="form-label">Fecha Creación</label>
                            <input type="date" class="form-control" id="fechaCreacion">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="filterById" class="form-label">ID Producto</label>
                            <input type="text" class="form-control" id="filterById" placeholder="ID">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="filterByName" class="form-label">Categoria</label>
                            <input type="text" class="form-control" id="categoria" placeholder="Categoria">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
    </div>