@{
    ViewData["Title"] = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";

}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Recuperar Contraseña
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Recuperación de Contraseña</h5>
                        <p class="card-text">
                            Si has olvidado tu contraseña, no te preocupes. Puedes recuperarla fácilmente. Simplemente sigue estos pasos:
                        </p>
                        <ol>
                            <li>Ingresa tu dirección de correo electrónico en el campo provisto en la página de recuperación de contraseña.</li>
                            <li>Haz clic en el botón <strong>"Enviar"</strong>.</li>
                            <li>Recibirás un correo electrónico con tu contraseña en unos minutos.</li>
                        </ol>
                        <p class="card-text">
                            Por favor, asegúrate de revisar también tu carpeta de spam o correo no deseado en caso de no encontrar el correo en tu bandeja de entrada.
                        </p>
                        <p class="card-text">
                            Si tienes algún problema o no recibes el correo, no dudes en ponerte en contacto con nuestro equipo de soporte.
                        </p>
                    </div>

                    <div class="card-body">
                        <form asp-action="RecuperarContraseña" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                            <div class="text-center mt-5">
                                <a asp-controller="home" asp-action="AdministradorInicio">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>