@{
    ViewData["Title"] = "Error";
}


<body class="bg-light">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
                <div class="text-center mb-4">
                    <i class="bi bi-person-circle fs-1"></i>
                </div>
                <h2 class="text-center text-primary mb-4">¡Error!</h2>
                <p>Usuario o Contraseña Incorrecta, Intenta nuevamente</p>
                <div class="text-center mt-3">
                    <a href="@Url.Action("Index", "User")">Volver</a>
                    <a asp-controller="home" asp-action="RecuperarContrasena">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>